<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传测试</title>
</head>
<body>
    <h3>在下面选择文件并上传</h3>
    <form action="/netdisk/upload_file/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>
            请输入当前路径：
            <input type="text" id="path" name="path">
        </label>
        <label>
            请输入上一级路径：
            <input type="text" id="parent" name="parent">
        </label>
        <p></p>
        <input type="file" name="files" multiple="multiple" style="font-size: 18px">
        <p></p>
        <input type="submit" value="上传文件" style="font-size: 18px">
    </form>
</body>
</html>